input[type=text]:not(.browser-default), input[type=password]:not(.browser-default) {
  margin-bottom: 0px;  
}

input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]) {
  border-bottom-color: #f4ac06;
  box-shadow: 0 1px 0 0 #f4ac06;
}

button:focus {
  background-color: #fdbc22;
}


