.root {
  padding: 30px 20px;
  margin: 30px 20px;
}

.divider {
  margin: 50px 0 !important;
}

.button {
  display: flex;
  justify-content: flex-end;
}

.submit-button {
  margin: 20px 10px !important;
}