ul {
    width: auto
}

input:not([type]), input[type="text"]:not(.browser-default), input[type="date"]:not(.browser-default), input[type="number"]:not(.browser-default), textarea.materialize-textarea {
    margin: 0px;  
}

.MuiButton-containedPrimary:hover {
    background-color: #F4AC06;
}
